<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <title>Login</title>
</head>
<body>
    <h1>Welcome to our Bank</h1>
    <form action="/login" method="get">
        <input type="text" placeholder="Account Number" name="username" required>
        <input type="password" name="password" placeholder="password" required>
        <button type="login">Login</button>
    </form>
    
    <br>
    <form action="/create" method="get">
        <button type="submit">Create a New Account</button>
    </form>



   
</body>
</html>